@import url(../fonts/stylesheet.css);
@import url(../normalize.css);
@import url(./services.css);
@import url(./teams.css);
@import url(./truast-us.css);
@import url(./publications.css);
@import url(./footer.css);
@import url(./about-us.css);
@import url(./header.css);

* {
  box-sizing: border-box;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Montserrat, sans-serif;
}


@media (max-width: 767px){
  .logo-tablet {
    display: none;
  }
  .text-menu {
    display: none;
  }
  .header-adress {
    display: none;
  }
  .header-facebook{
    display: none;
  }
  .button-scroll {
      transform: translateX(-50%);
      left: 50%;
  }
}


@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .header {
    background-color: transparent;
    padding-left: 60px;
    justify-content: flex-start;
  }
  .logo {
    display: none;
  }
  .logo-tablet {
    padding-left: 60px;
  }
  .menu {
  display: none;
  }
  .logo-menu{
    padding: 0px;
  }
  .text-menu{
    padding-left: 60px;
  }
  .header-view-tablet{
    display: flex;
  }
  .button-scroll {
    transform: translateX(-50%);
    left: 50%;
}
  .tablet-logo {
    display: grid;
  }
  .services-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  
  .trust-us {
    grid-template-columns: repeat(3, 1fr);
  }
  .publications-box{
    grid-template-columns: repeat(2, 1fr);
  }
  .on-map {
    flex-direction: row;
    justify-content: flex-start;
   
  }
  .on-map p::after{
    content: '';
    display: flex;
    height: 6px;
    width: 6px;
    gap: 10px;
    border-radius: 50%;
    background-color:#B3B3BA;
  }

  .contacts{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .contacts img {
    margin-right: 10px; 
  }

  .contacts a.mail {
    margin-bottom: 0px; 
  }

  .contacts a:not(:last-child)::after {
    content: ''; 
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }

}




@media (min-width: 768px) and (max-width: 1024px) {
  .publications-item:nth-child(3) {
    grid-column: 1/-1;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .header-view-tablet {
    justify-content: flex-end;    
  }
  .text-menu {
    justify-content: flex-end;
    margin-right: 60px;
  }
  .header-view-desktop {
    display: flex;
  }


  .about-us {
    display: flex;
    flex-direction: row;
}

  .about-title {
   
    text-align: left;
    color:#B3B3BA;
    gap: 0;
    margin: 0;
}
.about-us h3::before {
  display: flex;
  height: 100%;
  width: 14px;
  background-color: #FFFFFF4D;
}

  .about-title {
    flex-direction: column;
    text-align: right; 
}

.main-title-about {
  text-align: right;
}




  .services-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }

  .teams {
    display: flex;
    justify-content: baseline;
  }
  .trust-us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .publications-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1920px) {
  .wrapper {
    padding-left: 160px;
    padding-right: 160px;
  }
  .text-menu {
    margin-right: 160px;
  }
  .logo-menu {
    margin-left: 160px;
  }
  .button-scroll {
   margin-top: 60px;
}
  .services-box {
    display: grid;
    gap: 60px;
  }
  
  .trust-us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 100px;
    padding-right: 100px;
  }

}

